@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;900&display=swap');

body {
  font-family: "Heebo";
}



#canvas {
    border-color: black;
    /* border-radius: 4%; */
    border-style: solid;
    position: absolute;
    left: 1000px;
    top: 1000px;
  }

  .callout {
    position: fixed;
    bottom: 35px;
    right: 35px;
    margin-left: 20px;
    max-width: 500px;
  }
  
  .callout-header {
    padding: 25px 15px;
    background: rgb(119, 0, 255);
    font-size: 30px;
    color: white;
  }
  
  .callout-container {
    padding: 15px;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255)
  }
  
  .closebtn {
    position: absolute;
    top: 5px;
    right: 15px;
    color: rgb(0, 0, 0);
    font-size: 45px;
    cursor: pointer;
  }
  
  .closebtn:hover {
    color: lightgrey;
  }

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;

    position: absolute;
    left: 40%;
    top: 40%;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }